.products {
    margin: 4em auto;
    box-shadow: 0 0 4px 0 #444444;
}

label {
    font-weight: bold;
}

.form-check-label {
    font-weight: 500;
}

.editProduct {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.editProduct form {
    padding: 1em 2em;
    width: 400px;
    box-shadow: 0 0 4px 0 #444444;
}